<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title th:text="${postDTO.title}"></title>
    <meta charset="UTF-8">
</head>

<body>
<div th:replace="navigation :: nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <h3><span th:text="${postDTO.title}"></span></h3>
            <span class="text-desc">
                Posted by: <span th:text="${postDTO.user.name}"></span> |
                posted on <span th:text="${#dates.format(postDTO.gmtCreate, 'dd MMMM yyyy HH:mm:ss')}"></span> |
                <span th:text="${postDTO.viewCount}"></span> views
            </span>
            <hr>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" th:text="${postDTO.description}"></div>
            <hr>
            <a th:href="@{'/publish/' + ${postDTO.id}}" class="community-menu" th:if="${session.user != null && session.user.id == postDTO.userId}">
                <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                edit
            </a>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h5>Posted by</h5>
                <div class="media">
                    <img th:src="${postDTO.user.avatarUrl}" class="mr-3 rounded" style="height: 30px; width: 30px">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <span th:text="${postDTO.user.name}" style="font-size: 20px"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h5>Related Posts</h5>
            </div>
        </div>
    </div>
</div>
</body>
